body {
  font-family: 'Open Sans';
  font-weight: 300;
}

.spacer {
  margin-bottom: 25px;
}

.project-container {
/*  padding-left: 0;
  padding-right: 0;*/
  /*margin-left: 15px;*/
  /*margin-right: 15px;*/
}

.project-container:hover {
  /*box-shadow: 0 0 0 1px #42dca3;*/
  cursor: pointer;
  color: white;

}

.project-thumbnail {
  width: 100%;
  height: 125px;
}

@media (max-width: 767px) {
  .project-thumbnail {
    width: 40%;
  }
}

.project-label {
  width: 100%;
  border: none;
}

.project-label:hover {
  border: none;
  background-color: transparent;
  color: inherit;
}

#about {
  padding-top: 150px;
}

#contact {
  padding-top: 150px;
}