body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.spacer {
  margin-bottom: 25px;
}

.no-margin {
  margin: 0;
}

.top-bot-margin {
  margin: 10px 0;
}

.thick-top-margin {
  margin-top: 100px;
}

.med-top-margin {
  margin-top: 50px;
}

.project-container {
/*  padding-left: 0;
  padding-right: 0;*/
  /*margin-left: 15px;*/
  /*margin-right: 15px;*/
}

.project-container:hover {
  /*box-shadow: 0 0 0 1px #42dca3;*/
  cursor: pointer;
  color: white;
}

.project-thumbnail {
  width: 100%;
  max-width: 225px;
  height: 125px;
  transition: all .2s ease-in-out;
  overflow: hidden;
}

.project-thumbnail:hover {
  box-shadow: 0px 0px 10px #444
}

@media (max-width: 767px) {
  .project-thumbnail {
    width: 40%;
  }
}

.project-label {
  width: 100%;
  border: none;
}

.project-label:hover {
  border: none;
  background-color: transparent;
  color: inherit;
}

.project-screenshot-landscape {
  width: 100%;
}

.project-info {
  font-size: 1.1em;
  text-align: left;
  margin: 20px 0;
}

.no-bg {
  background: none;
  background-color: #333;
}

#about {
  padding-top: 150px;
}

#contact {
  padding-top: 150px;
}