html {
    background-color: #348C3E;
    background: url('images/green-felt.jpg');
    background-size: cover;
}

h1 {
    font-family: 'Vollkorn';
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

body {
    font-family: 'Arial';
}

div {
    height: 100px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {

    width: 130px;
    height: 100px;
    font-size: 20px;
    float: left;
    cursor: pointer;
    border: 2px solid white;
}

.betNumber {
    position: relative;
    float: left;
    height: 40px;
    width: 40px;
    box-shadow: 0px 0px 0px 2px white inset;
    text-align: center;
    color: white;
    line-height: 40px;
    cursor: pointer;
}

.betEvenPayout {
    height: 40px;
    width: 130px;
    float: left;
    text-align: center;
    color: white;
    line-height: 40px;
    box-shadow: 0px 0px 0px 2px white inset;
    cursor: pointer;
}

.betGreen {
    position: absolute;
    box-shadow: 0px 0px 0px 2px white inset;
    text-align: center;
    color: white;
    line-height: 60px;
    height: 60px;
    width: 40px;
    background-color: rgba(0,255,0,0.6);
    cursor: pointer;
}

.black {
    background-color: rgba(0,0,0,0.7);
}
.red {
    background-color: rgba(255,0,0,0.7);
}

.infoBox {
    height: 50px;
    box-shadow: 0px 0px 0px 2px white inset;
    text-align: center;
    color: white;
    line-height: 50px;
}

#topWrapper {
    position: relative;
    margin-bottom: 20px;
    width: 1000px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

#myCanvas {
    position: absolute;
    margin-right: auto;
}

#box0{
    position: relative;
}

#numberWrapper {
    position: absolute;
    height: 120px;
    width:  520px;
    top: 50px;
    right: 25px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
    box-shadow: 0px 0px 0px 2px white inset;
    background-color: rgba(0,0,0,0.3);
}

#evenPayoutWrapper {
    position: absolute;
    height: 40px;
    width:  520px;
    top: 170px;
    right: 25px;
    border: 2px solid white;
    box-shadow: 0px 0px 0px 2px white inset;
    background-color: rgba(0,0,0,0.3);
}

#infoWrapper{
    position: absolute;
    height: 100px;
    width:  260px;
    top: 210px;
    right: 285px;
    border-right: 2px solid white;
    border-left: 2px solid white;
    box-shadow: 0px 0px 0px 2px white inset;
    background-color: rgba(0,0,0,0.3);
}

#buttonWrapper{
    position: absolute;
    background: yellow;
    height: 100px;
    width:  260px;
    top: 210px;
    right: 25px;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

#textDisplay {
    color: yellow;
    padding-top: 5px;
    padding-left: 5px;
    height: 150px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.3);
}

#zerosWrapper{
    float: left;
    height: 120px;
    width: 40px;
}
